
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">

</head>

<body>

<div class="container">

    <form class="form-signin" method="post" action="?req=signup">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="user_email" value='<%=user_email%>'   required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="user_passwd" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    </form>
</div> <!-- /container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<% if (req_Sign_up == true) { %>
<script src="/js/bowser.min.js"></script>
<script src="chrome-extension://pfboblefjcgdjicmnffhdgionmgcdmne/u2f-api.js"></script>

<!-- Modal -->
<div id="promptModal" class="modal fade"  >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
                <h4 class="modal-title">Yubico Challenge</h4>
            </div>
            <div class="modal-body">
                <p>Please identify yourself with yubico-u2f key</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onClick="history.go(-1);">Abort</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
    //alert('00');
    $(document).ready(function() {
        //alert('11');
        if(location.protocol == 'https:' && bowser.chrome) {
            //alert('22');
            console.log('Using native U2F support');
            var tag = document.createElement('script');
            tag.setAttribute('src', 'chrome-extension://pfboblefjcgdjicmnffhdgionmgcdmne/u2f-api.js');
            document.getElementsByTagName('head')[0].appendChild(tag);

            var request = {"challenge": "aj9cx6Cp-rLu1ynd4sBq8yQgAQ5XaHyfJJSHdX-OOgc", "version": "U2F_V2", "appId": "https://www.kd2.kr"};
            console.log("Register: ", request);
            $('#promptModal').modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });

            console.log('go timeout');
            setTimeout(function()
            {
                console.log('go register');
                u2f.register([request], [], function(data) {
                    console.log("Register callback", data);
                    $('#promptModal').modal('hide');
                    //$('#bind-data').val(JSON.stringify(data));
                    //$('#bind-form').submit();
                });
            },1000);

        } else if(window.u2f === undefined) {
            alert('33');
            $(".app_hide").show();
            if(!bowser.chrome) {
                $('.not_chrome').show();
                $('.chrome').hide();
            }
        }
        $('a[data-toggle="tab"]').on('shown', function (e) {
            $('input[name=username]', $(e.target).attr('data-target')).focus();
        });
    });

    setTimeout(function() {

    }, 1000);
</script>
<% } %>


</body>
</html>
