<div class="masthead">
    <div class="row">
        <div class="col-md-2">
            <h3 class="text-muted">ICTK U2F</h3>
        </div>
        <div class="col-md-2 col-md-offset-8">
            <a class="btn btn-lg btn-success" role="button" onclick="$('#loginModal').modal('show');" >Log in</a>
        </div>
    </div>
    <nav>
        <ul class="nav nav-justified">
            <% for(var i in arrTab ) { %>
            <li <% if(arrTab[i]==activeTab) { %> class="active" <% }%> ><a href="?tab=<%=arrTab[i]%>"><%=arrTab[i]%></a></li>
            <% } %>
        </ul>
    </nav>
</div>