<div class="masthead">
    <div class="row">
        <div class="col-md-2">
            <h3 class="text-muted">ICTK U2F</h3>
        </div>
        <div class="col-md-2 col-md-offset-8">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
    <nav>
        <ul class="nav nav-justified">
            <% for(var i in arrTab ) { %>
            <li <% if(arrTab[i]==activeTab) { %> class="active" <% }%> ><a href="?tab=<%=arrTab[i]%>"><%=arrTab[i]%></a></li>
            <% } %>
        </ul>
    </nav>
</div>